body{
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right,#a9aeb1, #b494a3, #b4a484);

}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}
 header p {
     font-family: 'Courier New', Courier, monospace;
     color: black;
 }
nav{
    background-image: linear-gradient(to right,#a9aeb1, #b494a3, #b4a484);
     width: 100%;
    
 }


footer {
    background-image: linear-gradient(to right,#a9aeb1, #b494a3, #b4a484);
    padding: 40px;
    width: 100%;    
}

.jumbotron {
    padding: 20px;
    background-image: linear-gradient(to right,#a9aeb1, #b494a3, #b4a484);
    margin-bottom: 0;
}


.card-title{
    margin-top:20px;
    font-style: italic;
    font-family: monospace;
    font-size:larger;
    font-weight: bold;

}

.card{
    background-color: rgb(169, 174, 177, 0);
    border-style: none;
}

.bio-card{
    background-color: rgb(169, 174, 177,0);
}
.row-content {
    padding: 50px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.card-content{
    padding: 10px;
    font-size: small;
    font-style:italic;
  
}

ul{
    list-style-type: none;
}

.footer-style{
    padding: 10px;
    font-size: smaller;
    font-style:italic;
}

.nav-link{
    color: black;

}


.row-content{
    border-style: none;
}
#portrait{
    border-radius: 50%;
    border-style: outset;
    border-width: 3vw;
    border-left-color: #b4a484b8;
    border-top-color: #b4a484b8;
    border-right-color: #e9f2f7b8;
    border-bottom-color: #e9f2f7b8;
    max-height: 35vw;
}

.video-embed{
    border-style: outset;
    border-width:3vw;
    border-left-color: #b4a484b8;
    border-top-color: #b4a484b8;
    border-right-color: #e9f2f7b8;
    border-bottom-color: #e9f2f7b8;
    border-radius: 2rem;

}

.text-light{
    opacity: 85%;

}
.about-links{
    padding: 10px;
    font-size: small;
    font-style:italic;
}